NetProg6/NetProg6/Connected Services/Server/cassService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNum" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNum" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBalanceResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCardBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNum" type="xs:long" />
        <xs:element minOccurs="0" name="moneyToAdd" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCardBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCardBalanceResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>