NetProg6/NetProg6/Connected Services/Server/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/cassService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/cassService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCard" />
  </wsdl:message>
  <wsdl:message name="IService_AddCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCardResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="IService_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ChangeCardBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCardBalance" />
  </wsdl:message>
  <wsdl:message name="IService_ChangeCardBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCardBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddCard">
      <wsdl:input wsam:Action="http://tempuri.org/IService/AddCard" message="tns:IService_AddCard_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/AddCardResponse" message="tns:IService_AddCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input wsam:Action="http://tempuri.org/IService/GetBalance" message="tns:IService_GetBalance_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/GetBalanceResponse" message="tns:IService_GetBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCardBalance">
      <wsdl:input wsam:Action="http://tempuri.org/IService/ChangeCardBalance" message="tns:IService_ChangeCardBalance_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/ChangeCardBalanceResponse" message="tns:IService_ChangeCardBalance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCard">
      <soap:operation soapAction="http://tempuri.org/IService/AddCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IService/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCardBalance">
      <soap:operation soapAction="http://tempuri.org/IService/ChangeCardBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8080/cassService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>